@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background-color: #1b1b1f;
    font-family: "Inter";
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 300px;
    height: 80vh;
    border-radius: 2rem;
}

.calc .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.calc .btns .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 19%;
    align-items: center;
    justify-content: space-around;
}

.calc .btns .row button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    font-size: 20pt;
    margin-bottom: 1%;
    border: none;
    color: white;
    background-color: #2f2f2f;
}

.calc .btns .row .symb {
    background-color: orange;
}

.calc .btns .row .tr {
    background-color: #5a5a5a;
}

.calc .btns .row button img {
    width: 45px;
    height: 30px;
}

.calc .btns .row button .plmi {
    width: 30px;
    height: 30px;
}

.calc .eq-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

.calc .eq-wrap .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

}

.calc .eq-wrap .wrap h2 {
    font-weight: 200;
    font-size: 4rem;
    color: white;
    margin: 0;
    white-space: nowrap;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.calc .eq-wrap .wrap-top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 40%;
    width: 100%;
}

.calc .eq-wrap .wrap-top h3 {
    font-weight: 350;
    font-size: 12pt;
    color: gray;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

#output, #mem {
    white-space: nowrap;
    overflow: hidden;
}
